* {
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    line-height: 1.3;
}

header {
    display: flex;
    max-width: 1200px;
}

header .wrapper {
  display: flex;
  max-width: 940px; 
  justify-content: space-between;
  align-items: center;
  margin:  auto;
  padding: 1em;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px; 
}

nav a {
  color: #000;
  text-decoration: none;
}

#limited .btn {
  margin-top: auto;
  display: flex;
  padding: 1em;
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
  text-decoration: none;
  align-self: flex-start;
}

#limited .btn:hover {
  background-color: #fff;
  color: #000;
}


#limited .wrapper{
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4em;
  padding: 1em 3em 3em ;
}

#dough .wrapper{
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4em;
  padding: 1em 3em 3em ;
}

#people .wrapper{
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4em;
  padding: 1em 3em 3em ;
}

#tryit .wrapper{
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4em;
  padding: 1em 3em 3em ;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}